
html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Poppins;
	color: #66fcf1;
	width: 100%;
}

.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	z-index: 999;
	//box-shadow: 0 0 15px 0 #000;
}

.nav {
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
}

.logo,
.nav a {
	margin: 0;
	color: #dcafad;
	text-decoration: none;
	text-transform: uppercase;
}

.nav a {
	padding: 20px 20px;
	font-weight: bold;
}

.logo {
	flex: 1 1 auto;
	margin-left: 10%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
}

.nav a:hover {
	color: #ffffff;
	font-weight: normal;
}

.banner-area {
	position: relative;
	width: 100%;
	display: flex;
	height: 80vh;
	background-color: #000;
	padding-bottom: 200px;
}

.banner-text {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: 700px auto;
	font-size: 50px;
	font-weight: bold;
	z-index: 100;
	
	animation-name: green;
	animation-duration: 1.7s;
}

.banner-area img {
	position: absolute;
	max-width: 33%;
	margin: auto;
	top: 0;
	bottom: 0;
	transform: translateY(-10%);
}

.banner-red {
	left: 0;
	z-index: 1;
	animation-name: red;
	animation-duration: 1.7s;
}

@keyframes red {
	from {
		opacity: 0;
		margin-left: -700px;}
	to {
		opacity: 1;
		margin-left: 0px;}
}

.banner-green {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	animation-name: green;
	animation-duration: 1.7s;
}

@keyframes green {
	from {opacity: 0;}
	to {opacity: 1;}
}

.banner-blue {
	right: 0;
	animation-name: blue;
	animation-duration: 1.7s;
}

@keyframes blue {
	from {
		opacity: 0;
		margin-right: -700px;}
	to {
		opacity: 1;
		margin-right: 0px;}
}


.about-area, .portfolio-area, .contact-area {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	//text-align: left;
	flex-wrap: wrap;
	flex-direction: row;
	height: 700px;
}

.about-area, .contact-area { background-color: #1f2833; }
.portfolio-area { background-color: #000000; }

.portfolio-area a {
	-webkit-appearance: button;
	position: absolute;
	align-items: center;
	bottom: 100px;
	outline: 3px solid #f8f48d;
	color: #f8f48d;
	padding: 10px;
	font-size: 30px;
	text-decoration: none;
	transition: background-color 1s, color 0.5s;
}

.portfolio-area a:hover {
	background-color: #f8f48d;
	color: #2e0f0e;
}

.text-part {
	width: 65%;
	height: 80%;
	color: #eed6d5;
}