
*, *::before, *::after {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--black: #0c0c11;
	--dark-blue: #1f2833;
	--gray: #c5c6c7;
	--white: #66fcf1;
	--mywork-text-color: rgb(239, 236,239);
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
	font-family: Poppins;
	width: 100%;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://lkp.dispendik.surabaya.go.id/assets/loading.gif') 50% 50% no-repeat var(--black);
}

.navbar {
	position: fixed;
	display: flex;
	justify-content: center;
	top: 0;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	z-index: 999;
	
	background-color: rgba(0, 0, 0, 0.25);
	
	transition: 250ms ease-in;
}

.nav-scrolled {
	background-color: var(--black);
	box-shadow: 0 0 15px 0 var(--black);
}

.nav {
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
}

.logo,
.nav a {
	margin: 0;
	color: var(--gray);
	text-decoration: none;
	text-transform: uppercase;
}

.nav a {
	padding: 20px 20px;
	font-weight: bold;
	position: relative;
	
	transition: transform 250ms ease-in;
}

.nav a:hover {
	color: var(--white);
}

.nav a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: currentColor;
	
	transform: scaleX(0);
	transition: transform 250ms ease-in, color 250ms ease-in;
	
}

.nav a:hover::after {
	transform: scaleX(1);
	color: var(--white);
}

.logo {
	flex: 1 1 auto;
	margin-left: 10%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 35px;
}

.banner-area {
	position: relative;
	height: 100vh;
	background-color: var(--black);
}

.banner-area img {
	width: 100%;
	height: 100%;
	float: left;
    object-fit: cover;
	object-position: 25% 0;
	clip-path: 
    polygon(
      0% 200px,                 /* top left */
      200px 0%,                 /* top left */
      calc(100% - 200px) 0%,    /* top right */
      100% 200px,               /* top right */
      100% calc(100% - 200px),  /* bottom right */
      calc(100% - 200px) 100%,  /* bottom right */
      200px 100%,               /* bottom left */
      0 calc(100% - 200px)      /* bottom left */
    );
}

.banner-text {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: 500px auto;
	font-size: 50px;
	font-weight: bold;
	z-index: 100;
	color: var(--gray);
	letter-spacing: 2px;
	
	animation-name: green;
	animation-duration: 1.7s;
}

.banner-img-desc {
	position: absolute;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
	right: 0;
	bottom: 0;
	font-size: 10px;
	font-weight: bold;
	z-index: 101;
	color: var(--gray);
	
	animation-name: green;
	animation-duration: 1.7s;
}

.banner-red {
	left: 0;
	padding-left: 6%;
	z-index: 1;
	animation-name: red;
	animation-duration: 1.7s;
}

@keyframes red {
	from {
		opacity: 0;
		margin-left: -700px;}
	to {
		opacity: 1;
		margin-left: 0px;}
}

.banner-green {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	animation-name: green;
	animation-duration: 1.7s;
}

@keyframes green {
	from {opacity: 0;}
	to {opacity: 1;}
}

.banner-blue {
	right: 0;
	padding-right: 6%;
	animation-name: blue;
	animation-duration: 1.7s;
}

@keyframes blue {
	from {
		opacity: 0;
		margin-right: -700px;}
	to {
		opacity: 1;
		margin-right: 0px;}
}


.mywork-area, .aboutme-area, .contact-area {
	position: relative;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.mywork-area, .contact-area { background-color: var(--dark-blue); }
.aboutme-area { background-color: var(--black); display: inline-block; }

.aboutme-area img {
	margin-left: 300px;
	padding-top: 20px;
	padding-right: 70px;
	width: 331px; 
	height: 600px; 
}

.projects-grid {
	display: grid;
	padding: 0 20%;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 20rem);
	grid-auto-rows: 500px;
	grid-gap: 2.5rem;
	padding-bottom: 5%;
}

.projects-grid-item {
	min-height: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.projects-grid-item {	
	border-radius: 25px;
	cursor: pointer;
	-webkit-transition: all .7s;
	transition: 0.7s;
}

.projects-grid-item:hover {
	transform: scale(1.1);
	z-index: 100;
}

.warfair {
	background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(../images/WarFair.png) no-repeat;
	background-size: 330%;
	background-position: right -500px bottom 50%;
	height: 100%;
	padding: 0;
}

.warfair h1 {
	text-align: center;
	padding-top: 30px;
	font-size: 45px;
	color: var(--mywork-text-color);
}

.gauntlet {
	background: url(../images/Gauntlet.png) no-repeat;
	background-size: 300%;
	background-position: right -315px bottom 50%;
	height: 100%;
	padding: 0;
}

.raytracer {
	background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(../images/RayTracer.png) 50% no-repeat;
	background-size: 150%;
	background-position: right -80px bottom 0px;
	background-color: #000;
	height: 100%;
	padding: 0;
}

.raytracer h1 {
	text-align: center;
	padding-top: 30px;
	font-size: 45px;
	color: var(--mywork-text-color);
}

.trashturf {
	background: url(../images/TrashTurf.jpg) no-repeat;
	background-size: 260%;
	height: 100%;
	padding: 0;
}

.text-part {
	position: relative;
	padding: 3% 20%;
	text-align: left;
	color: var(--gray);
}

.contact-area { 
	display: flex;
	height: 400px;
}

.contact-area::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	background: var(--gray);
	transform: scaleY(0.7);
}

.contact-info {
	position: relative;
	display: block;
	width: 50%;
	margin: auto 0;
	
}

.contact-info ul {
	position: absolute;
	top: 50%;
	left: 25%;
	padding: 0;
	margin: 0;
	transform: translate(0%, -50%);
}

.contact-info ul li {
	display: flex;
	list-style: none;
	padding: 0;
	height: 60px;
	padding: 25px 0;
	align-items: center;
}

.contact-info ul li i {
	float: left;
	font-size: 60px;
	width: 60px;
	padding-right: 30px;
	color: var(--black);
}

.contact-info ul li .fa-map-marker-alt {
	transform: translate(10%, 0%);
}

.contact-info ul li span {
	color: var(--gray);
	line-height: 20px;
	
}

.social-menu {
	position: relative;
	display: block;
	width: 50%;
	margin: auto 0;
}

.social-menu ul {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0;
	transform: translate(-50%, -50%);
	display: flex;
}

.social-menu ul li {
	list-style: none;
	margin: 0 40px;
}

.social-menu ul li .fa {
	font-size: 30px;
	line-height: 60px;
	transition: .6s;
	color: var(--gray);
}

.social-menu ul li a {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--black);
	text-align: center;
	transition: .6s;
}

.social-menu ul li a:hover {
	border-radius: 40%;
	transform: scale(1.2);
}